@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Nothing";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Regular"), url("../fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Teko";
    font-style: normal;
    font-weight: 400;
    src: local("Teko"), url("../fonts/Teko-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto Light"), url("../fonts/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto Medium"), url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: local("Roboto Black"), url("../fonts/Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Lemonada' cursive;
    src: local("Lemonada Bold"), url("../fonts/Lemonada/static/Lemonada-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Lemonada' cursive;
    src: local("Lemonada Light"), url("../fonts/Lemonada/static/Lemonada-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Lemonada' cursive;
    src: local("Lemonada Medium"), url("../fonts/Lemonada/static/Lemonada-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Lemonada' cursive;
    src: local("Lemonada Regular"), url("../fonts/Lemonada/static/Lemonada-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lemonada' cursive;
    src: local("Lemonada SemiBold"), url("../fonts/Lemonada/static/Lemonada-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}