body {
    width: 100%;
    height: 100%;
}

.whatsapp {
    border: none;
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 10000;
    bottom: 20px;
    right: 10px;
    background-color: green;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    background-image: linear-gradient(180deg,#00e574,#5eff2e);
    border: 3px solid #77ffaf;
    border-radius: 50% 50% 50% 50%;
    padding: 20px;
    box-shadow: 1px 1px 1px  #00e574;
}
.whatsapp:hover {
    border: #b2f3d2;
    transition: all 3s;
}
@media(min-width: 320px) {

    .container-p {
        background-color: var(--yellow);
        padding: 5px;
        width: 100%;
        display: block;
        margin: 20px;
        border-radius: 3px;
    }
}
.container-p {
    background-color: var(--yellow);
    padding: 5px;
    width: 100%;
    display: block;
    margin: 20px;
    border-radius: 3px;
}
.container-two {
    background-color: rgb(253, 226, 203);
    padding: 5px;
    width: 100%;
    display: block;
    margin: 20px;
    border-radius: 3px;
}

.subtitle {
    color: rgb(26, 26, 26);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 20px 10px;
    align-items: center;
    justify-content: center;
}
.grid-item {
    margin: 20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    p {
        padding-bottom: 20px;
    }
    .grid-one {
        display: block;
    }
    .box-video {
        align-items: center;
        justify-content: center;
    }
}
.grid-item-2 {
    width: 100%;
    margin: 20px;
    background-color: var(--yellow);
    border-radius: 3px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgb(232, 232, 232);

    p {
        padding-bottom: 20px;
    }
}

.container-three {
    background-color: rgb(253, 226, 203);
    padding: 5px;
    width: 100%;
    display: block;
    border-radius: 3px;
}

#witnesses {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin: 20px 10px;
    align-items: center;
    justify-content: center;
}
.box-video-w {
    align-items: center;
    justify-content: center;
    video {
        width: 80%;
        height: 300px;
    }
}
.grid-item {
    margin: 20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
    p {
        padding-bottom: 20px;
    }
    .grid-one {
        display: block;
    }
    .box-video {
        align-items: center;
        justify-content: center;
    }
}
.grid-item-2 {
    width: 100%;
    background-color: var(--yellow);
    border-radius: 3px;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgb(232, 232, 232);

    p {
        padding-bottom: 20px;
    }
}

.footer {
    border-top: 6px solid black;
    background-color: var(--yellow);
    display: block;
    flex-direction: column;
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    h3 {
        font-weight: bold;
        font-size: 26px;
        margin-top: 10px;
    }
}
.box-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .bee {
        width: 160px;
        height: 120px;
        transition: width 0.5s, height 1s;
    }
    .bee:hover {
        width: 130px;
        height: 120px;
    }
    .instagram {
        margin: 15px;
        width: 60px;
        height: 60px;
        transition: width 0.5s, height 1s;
    }
    .instagram:hover {
        width: 40px;
    }
}


@media(min-width: 1080px) {
    .container-p {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    .grid-item {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: none;
        .grid-one {
            width: 660px;
            padding-right: 20px;
            height: 240px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-right: 1px solid black;
        }
        .box-video {
            width: 400px;
            height: 340px;
            align-items: center;
            justify-content: center;
        }
    }

}