body {
    width: 100%;
    height: 100%;
}

.whatsapp {
    border: none;
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 10000;
    bottom: 50px;
    right: 30px;
    background-color: green;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    background-image: linear-gradient(180deg,#00e574,#5eff2e);
    border: 3px solid #77ffaf;
    border-radius: 50% 50% 50% 50%;
    padding: 20px;
    box-shadow: 0 0 0 0 #00e574;
    a:hover {
        width: 80px;
        height: 80px;
        border: #00e574;
        transition: 2s;
    }
}

.container-img {
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 100%;


}
.container {
    width: 100%;
    height: 2000px;
    display: block;
    margin: 20px;
    padding: 2px;
}

.grid-title {
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--yellow);
    margin: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 20px 10px;
    align-items: center;
    justify-content: center;
    border: 1px 0 1px solid rgb(232, 232, 232);;



}
.grid-item {

    border-radius: 10px;
    margin: 20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;

    p {
        padding-bottom: 20px;
    }
}

.footer {
    border-top: 6px solid black;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
    h3 {
        font-weight: bold;
        font-size: 26px;
        margin-top: 10px;
    }
}

.bee {
    width: 160px;
    height: 120px;
    transition: width 1s, height 1s;
}
.bee:hover {
    width: 180px;
    height: 140px;
}

.instagram:hover {
    border: 1px solid white;
    border-radius: 50%;

}