
.container-img {
    min-width: 414px;
    margin: 0;
    margin-bottom: 100px;
    width: 100%;
    height: calc(100vh - 110px);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.carousel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    opacity: 0.8;
    img {
        min-width: 320px;
        margin: 0;
        max-width: 820px;
        width: 100%;
        height: 380px;  
    }

    
}
.box-text{
    width: 100%;
    height: 350px;
    margin: 10px 0;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid rgb(232, 232, 232);
    

}
.title-img {
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 6px;
    
}
.content-img {
    color: rgb(0, 0, 0);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 3px;
}
.button-img {
    color: white;
    border: none;
    font-weight: 600;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--yellow);
    margin-bottom: 6px;
    text-decoration: none;
    cursor: pointer;

}
.button-img:hover {
    background-color: var(--yellow-hover);
}

@media(min-width: 768px){
    .container-img {
        width: 100%;
        height: 610px;
        .box-text{
            text-align: center;
            align-items: center;
            flex-direction: column;
            border: none;
            transition: all 2s ease-in-out;
            .content-img {
                color: rgb(0, 0, 0);
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 15px;
            }
            
        }
            
    }
        
    }

@media(min-width: 820px){
    .container-img {
        width: 100%;
        height: 500px;
        display: block;
        align-items: center;
        justify-content: center;
        .box-text{
            text-align: center;
            align-items: center;
            flex-direction: column;
            border: none;
            transition: all 2s ease-in-out;
            .content-img {
                color: rgb(0, 0, 0);
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 15px;
            }
            
        }
            
    }
    .carousel {
        margin: 0;
        padding: 0;
        width: 80%;
        height: 400px;
        opacity: 0.8;
        img {
            max-width: 820px;
            margin: 0;
            width: 100%;
            height: 380px;  
        }
    }
        
}
@media(min-width: 1080px){
    .container-img {
        width: 80%;
        height: 450px;
        display: flex;
        flex-direction: row; 
        position: relative;   
        .box-text{
            width: 250px;
            top: 110px;
            right: -170px;
            position: absolute;
            text-align: center;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            border: none;
            transition: all 2s ease-in-out;
            .title-img {
                font-size: 26px;
            }
            .content-img {
                color: rgb(0, 0, 0);
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 15px;
                
            }
            
        }
            
    }
    .carousel {
        margin: 0;
        padding: 0;
        width: 65%;
        height: 400px;
        opacity: 0.8;
        img {
            margin: 0;
            width: 100%;
            height: 380px;  
        }
    }
    
}
    

    
    


@media(min-width: 1220px){
    .container-img {
        height: 450px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;    
        align-items: flex-start;
        .box-text{
            top: 110px;
            right: -100px;
            text-align: start;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            border: none;
            .title-img {
                font-size: 26px;
                text-align: start;
            }
            .content-img {
                color: rgb(0, 0, 0);
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 15px;
                
            }
            
        }
            
    }
        
}

