@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nothing";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Regular"), url("../fonts/NothingYouCouldDo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Teko";
  font-style: normal;
  font-weight: 400;
  src: local("Teko"), url("../fonts/Teko-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --black-hover: #111111;
  --black-active: #222222;
  --black-10: #0000001a;
  --black-75: #000000bf;
  --dark-0: #333333;
  --dark-1: #000000bf;
  --gray: #79756c;
  --gray-0: #707070;
  --gray-1: #7e7e7e;
  --gray-2: #9a9a99;
  --gray-3: #cccccc;
  --gray-4: #00000029;
  --gray-5: #e5e3dfbf;
  --gray-6: #f8f8f8;
  --gray-7: #e5e3df;
  --gray-8: #dddddd;
  --gray-9: #999999;
  --gray-10: #eeeeee;
  --gray-11: #444444;
  --gray-12: #e8e8e8;
  --red: #e32119;
  --red-hover: #e4423b;
  --red-active: #c91d16;
  --green: #00994d;
  --green-hover: #00be60;
  --green-active: #00773c;
  --blue: #00a0e6;
  --blue-hover: #1cabe9;
  --blue-active: #199bd4;
  --yellow: #ffc107;
  --yellow-hover: #e0a800;
  --yellow-active: #e9af00;
  --space: 20px;
  --success-color: #155724;
  --success-bg: #d4edda;
  --success-border: #c3e6cb;
  --danger-color: #721c24;
  --danger-bg: #f8d7da;
  --danger-border: #f5c6cb;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr {
  display: flex;
}

a {
  text-decoration: none;
}

#header a {
  color: rgb(17, 17, 17);
  text-decoration: none;
  font-family: "Opens Sans" sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s;
}

#header a:hover {
  background: var(--yellow);
  border-radius: 10px;
}

#header {
  min-width: 320px;
  box-sizing: border-box;
  height: 110px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

#logo img {
  background-repeat: no-repeat;
  position: relative;
  border-radius: 5px;
  width: 220px;
  height: 90px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgb(165, 165, 156);
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#menu {
  width: 100%;
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 820px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 110px;
    right: 0px;
    background: #ffffff;
    transition: 0.8s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #logo a {
    background-image: url(../images/logo.png);
    position: relative;
  }
  #nav.active #menu {
    height: calc(100vh - 110px);
    visibility: visible;
    overflow-y: hidden;
    display: block;
    align-items: center;
    justify-content: center;
  }
  #nav.active #menu #header {
    border-radius: 0;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #bbbbbb;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: #121212;
  }
  #hamburger::after,
#hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
body {
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.6666666667);
}

svg {
  color: rgba(107, 107, 107, 0.5450980392);
}

.whatsapp {
  border: none;
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 10000;
  bottom: 15px;
  right: 15px;
  background-color: green;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #00e574, #5eff2e);
  border: 3px solid #77ffaf;
  padding: 20px;
  box-shadow: 1px 1px 1px #00e574;
  box-shadow: 0 0 0 0 #00e574;
  transform: scale(1);
  -webkit-animation: pulse-black 1.5s infinite;
  animation: pulse-black 1.5s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 229, 116, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px transparent;
  }
  to {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 transparent;
  }
}
@media (min-width: 320px) {
  .container-p {
    background-color: var(--yellow);
    padding: 5px;
    width: 100%;
    display: block;
    border-radius: 3px;
    box-shadow: 1px 1px 10px rgb(168, 168, 168);
  }
}
.container-p {
  background-color: var(--yellow);
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 3px;
  margin-top: 20px;
}

.container-two {
  background-color: rgb(253, 226, 203);
  padding: 5px;
  width: 100%;
  display: block;
  border-radius: 3px;
  margin-top: 20px;
  box-shadow: 1px 1px 10px rgb(168, 168, 168);
}

.subtitle {
  color: rgb(26, 26, 26);
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin: 20px 10px;
  align-items: center;
  justify-content: center;
}

.grid-item {
  margin: 20px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}
.grid-item p {
  padding-bottom: 20px;
}
.grid-item .grid-one {
  display: block;
}
.grid-item .box-video {
  align-items: center;
  justify-content: center;
}
.grid-item .box-video video {
  border-radius: 3px;
  box-shadow: 2px 1px 10px rgb(0, 0, 0);
}

.grid-item-2 {
  width: 100%;
  margin: 20px;
  background-color: var(--yellow);
  border-radius: 3px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
  border-bottom: 1px solid rgb(232, 232, 232);
  box-shadow: 1px 1px 10px rgb(168, 168, 168);
}
.grid-item-2 video {
  border-radius: 3px;
  box-shadow: 2px 1px 10px rgb(0, 0, 0);
}
.grid-item-2 p {
  padding-bottom: 20px;
}

.container-three {
  background-color: rgb(253, 226, 203);
  padding: 5px;
  width: 100%;
  display: block;
  border-radius: 3px;
}

#witnesses {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin: 20px 10px;
  align-items: center;
  justify-content: center;
}

.box-video-w {
  align-items: center;
  justify-content: center;
}
.box-video-w video {
  width: 80%;
  height: 300px;
}

.grid-item {
  margin: 20px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}
.grid-item p {
  padding-bottom: 20px;
}
.grid-item .grid-one {
  display: block;
}
.grid-item .box-video {
  align-items: center;
  justify-content: center;
}

.grid-item-2 {
  width: 100%;
  background-color: var(--yellow);
  border-radius: 3px;
  display: block;
  text-align: center;
  border-bottom: 1px solid rgb(232, 232, 232);
}
.grid-item-2 p {
  padding-bottom: 20px;
}

.footer {
  border-top: 6px solid black;
  background-color: var(--yellow-active);
  display: block;
  flex-direction: column;
  width: 100%;
  height: 350px;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}
.footer h3 {
  font-weight: bold;
  font-size: 26px;
  margin-top: 10px;
}

.box-footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-footer .bee {
  width: 160px;
  height: 120px;
  transition: width 0.5s, height 1s;
}
.box-footer .bee:hover {
  width: 130px;
  height: 120px;
}
.box-footer .instagram {
  margin: 15px;
  width: 60px;
  height: 60px;
  transition: width 0.5s, height 1s;
}
.box-footer .instagram:hover {
  width: 40px;
}

@media (min-width: 1080px) {
  .container-p {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .container-two {
    background-color: rgb(253, 226, 203);
    padding: 5px;
    width: 100%;
    display: block;
    border-radius: 3px;
    margin: 25px;
  }
  .grid-item {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: none;
  }
  .grid-item .grid-one {
    width: 660px;
    padding-right: 20px;
    height: 240px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid black;
  }
  .grid-item .box-video {
    width: 400px;
    height: 340px;
    align-items: center;
    justify-content: center;
  }
}
.container-img {
  min-width: 320px;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 400px;
  opacity: 0.8;
}
.carousel img {
  min-width: 320px;
  margin: 0;
  max-width: 820px;
  width: 100%;
  height: 380px;
  border-radius: 3px;
}

.slick-next {
  right: 3px;
}

.slick-prev {
  color: black;
  right: 3px;
}

.slick-prev:before, .slick-next:before {
  font-size: 0;
}

.box-text {
  width: 100%;
  height: 150px;
  margin: 10px 0;
  display: block;
  text-align: center;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid rgb(232, 232, 232);
}

.title-img {
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 6px;
}

.content-img {
  color: rgb(0, 0, 0);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 3px;
}

.button-img {
  color: white;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--yellow);
  margin-bottom: 6px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 4px 5px 10px rgb(194, 194, 194);
}

.button-img:hover {
  background-color: var(--yellow-hover);
}

@media (min-width: 768px) {
  .container-img {
    width: 100%;
    height: 610px;
  }
  .container-img .box-text {
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: none;
    transition: all 2s ease-in-out;
  }
  .container-img .box-text .content-img {
    color: rgb(0, 0, 0);
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
  }
}
@media (min-width: 820px) {
  .container-img {
    width: 100%;
    height: 600px;
    display: block;
    align-items: center;
    justify-content: center;
  }
  .container-img .box-text {
    height: 200px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: none;
    transition: all 2s ease-in-out;
  }
  .container-img .box-text .content-img {
    color: rgb(0, 0, 0);
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .carousel {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 400px;
    opacity: 0.8;
  }
  .carousel img {
    max-width: 820px;
    margin: 0;
    width: 100%;
    height: 380px;
  }
}
@media (min-width: 1080px) {
  .container-img {
    width: 80%;
    height: 450px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .container-img .box-text {
    width: 250px;
    top: 110px;
    right: -170px;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    transition: all 2s ease-in-out;
  }
  .container-img .box-text .title-img {
    font-size: 26px;
  }
  .container-img .box-text .content-img {
    color: rgb(0, 0, 0);
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .carousel {
    margin: 0;
    padding: 0;
    width: 65%;
    height: 400px;
    opacity: 0.8;
  }
  .carousel img {
    margin: 0;
    width: 100%;
    height: 380px;
  }
}
@media (min-width: 1220px) {
  .container-img {
    height: 450px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .container-img .box-text {
    top: 110px;
    right: -100px;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
  }
  .container-img .box-text .title-img {
    font-size: 26px;
    text-align: start;
  }
  .container-img .box-text .content-img {
    color: rgb(0, 0, 0);
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
